@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');


body{
    margin: 0px;
    padding: 0px;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}

header{
    background-color: #80E800;
    height: 100px;
    width: 100%;
    min-width: 900px;
    border-bottom-left-radius:  40px;
    border-bottom-right-radius: 40px;


}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a:hover{
    color: #5CCCCC
}

nav a{
    font-size: 20px;
    text-decoration: none;
    color: #FF7300
}


.about{
    width:100vw;
    height:40vh;
    margin-top:50px;
    background-color: #5CCCCC;
    display: flex;
    justify-content: center;
    align-items: center;

}

.avatar{
    width: 11vw;
}                   

.icons{
    width: 128px;
}

.tech{
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-around;
}